@model PiattoViewModel

@{ ViewData["Title"] = "Edit"; }

<h1>Modifica</h1>

<div class="row">
        <form asp-action="Edit">

            <div class="form-group">
                <input type="hidden" asp-for="Id" class="form-control" />
            </div>

            <partial name="_Form" model="Model" />

            <div>
                <input type="submit" value="Salva" class="btn btn-primaryMine" />
            </div>
        </form>
</div>

<div>
    <a asp-action="Index">Lista piatti</a>
</div>
